/* se formatea todo el código. */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Formato de cuepo. */

body {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: cornsilk;
}

/* formato a la lista no ordenada. */

ul {
    padding: 0;
    list-style: none;
}

/* Formato al contenido de las listas. */

ul li {
    width: 15em;
    height: 3em;
    font-size: 20px;
    border-radius: 0.5em;
    margin: 0.5em;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.2);
    color: #fff;
    font-family: sans-serif;
    text-transform: capitalize;
    line-height: 3em;
    transition: 0.3s;
    cursor: pointer;
}

/* Formato a la lista los números impares. */

ul li:nth-child(odd) {
    background: linear-gradient(to right, orange, tomato);
    text-align: left;
    padding-left: 10%;
    transform: perspective(500px) rotateY(45deg);
}

/* Formato a la lista los números pares. */

ul li:nth-child(even) {
    background: linear-gradient(to left, orange, tomato);
    text-align: right;
    transform: perspective(500px) rotateY(-45deg);
}

/* Formato a la lista los números impares con el cursor encima. */

ul li:nth-child(odd):hover {
    transform: perspective(200px) rotateY(45deg);
    padding-left: 5%;
}

/* Formato a la lista los números pares con el cursor encima. */

ul li:nth-child(even):hover {
    transform: perspective(200px) rotateY(-45deg);
    padding-right: 5%;
}